html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

:root {
    --color_white: #fff;
    --color_black: #262529;
    --color_text: #000;
    --color_link: #6B46D4;
    --color_hover: #5120d8;

}

@font-face {
    font-family: 'TT Travel';
    src: url('../fonts/TTTravelsRegular.woff2') format('woff2'),
        url('../fonts/TTTravelsRegular.woff') format('woff');
    font-weight: 400;    
	font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT TravelBold';
    src: url('../fonts/TTTravelsDemiBold.woff2') format('woff2'),
        url('../fonts/TTTravelsDemiBold.woff') format('woff');
    font-weight: 700;    
	font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    font-family: 'TT Travel', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    background-color: var(--color_white);
    color: var(--color_text);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1715px;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.conferences {
    margin-top: 135px;
    margin-bottom: 235px;    
}

.conferences__list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); */
    gap: 50px 55px;
    width: 100%;
}

.conferences__item {
    width: 100%;
}

.card {
    padding: 25px 30px;
    /* display: grid;
    grid-template-columns: 1fr; */
     display: flex;
    flex-direction: column;
    /*align-items: flex-start;
    justify-content: space-between; */
    gap: 15px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: var(--color_white);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);    
}

.card__icon {
    width: 90px;
    height: 85px;
}

.card__date {
    font-family: 'TT TravelBold'; 
    font-weight: 500;
    
}

.card__title {
    font-family: 'TT TravelBold';
    font-size: 24px;
    font-weight: 500;
    align-self: start; 
}

.card__descr {
    font-size: 16px;
}

.card__top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.card__center {
    display: flex;
    flex-direction: column;
    
}

.card__bottom {
    display: grid;
    align-items: flex-end;
}

.card__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}

.card__location {
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    opacity: 0.7;
    background: url(../imges/map.svg) 0 1px no-repeat;
}

.card__link {
    margin-bottom: 35px;
    padding-left: 20px;
    position: relative;
    font-family: 'TT TravelBold';
    font-size: 14px;
    text-decoration: underline;
    color: var(--color_text);
    opacity: 0.7;
    background: url(../imges/link.svg) 0 1px no-repeat;
}

.card__btns {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.card__btn {
    padding: 9px 15px;
    font-family: 'TT TravelBold';
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--color_white);
    background-color: var(--color_link);
    transition: background 0.4s ease-in, color 0.4s ease-in, outline 0.4s ease-in;
}

.card__btn:hover {
    outline: 1px solid var(--color_link);
    background-color: var(--color_white);
    color: var(--color_link);
}

.card__more {
    padding: 9px 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: var(--color_link);
    text-decoration: underline;
    transition: background 0.4s ease-in, color 0.4s ease-in;
}

.card__more:hover {
    color: var(--color_white);
    background-color: var(--color_link);
}

/* .card__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
    gap: 20px;
    width: 100%;
}

.card__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.card__center {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;    
}

.card__date {
    font-family: 'TT TravelBold'; 
    font-weight: 500;
    flex: 1 1 0;
}

.card__icon {
    width: 90px;
    height: 85px;
}

.card__title {
    margin-bottom: 15px;
    font-family: 'TT TravelBold';
    font-size: 24px;
    font-weight: 500;
    align-self: start; 
    flex: 1 1 auto;
}

.card__descr {
    margin-bottom: 18px;
    font-size: 16px;
    flex: 1 1 auto; 
}

.card__location {
    margin-bottom: 12px;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    opacity: 0.7;
    background: url(../imges/map.svg) 0 1px no-repeat;
}

.card__link {
    margin-bottom: 35px;
    padding-left: 20px;
    position: relative;
    font-family: 'TT TravelBold';
    font-size: 14px;
    text-decoration: underline;
    color: var(--color_text);
    opacity: 0.7;
    background: url(../imges/link.svg) 0 1px no-repeat;
}

.card__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.card__btn {
    padding: 9px 15px;
    font-family: 'TT TravelBold';
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--color_white);
    background-color: var(--color_link);
    transition: background 0.4s ease-in, color 0.4s ease-in, outline 0.4s ease-in;
}

.card__btn:hover {
    outline: 1px solid var(--color_link);
    background-color: var(--color_white);
    color: var(--color_link);
}

.card__more {
    padding: 9px 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: var(--color_link);
    text-decoration: underline;
    transition: background 0.4s ease-in, color 0.4s ease-in;
}

.card__more:hover {
    color: var(--color_white);
    background-color: var(--color_link);
} */

/*Footer*/
.footer {
    padding-bottom: 30px;
    background-color: var(--color_black);
}

.footer__top {
    margin-bottom: 13px;
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 60px;
}

.footer__descr {
    padding: 58px 100px 75px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    color: var(--color_white);
}

.footer__img {
    position: relative;
    background-image: url(../imges/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__logo {
    position: absolute;
    top: 47%;
    left: 25%;
    width: 220px;
    height: 40px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
}

.footer__subtitle {
    font-family: 'TT TravelBold';
    font-weight: 500;
}

.footer__link {
    color: var(--color_white);
}

.footer__bottom {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 10px;
}

.footer__title {
    padding-left: 40px;
    font-family: 'TT TravelBold';
    font-size: 36px;
    font-weight: 500;
    color: var(--color_white);
    letter-spacing: -1.8px;
}

.footer__list {
    padding-top: 16px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    border-top: 1px solid var(--color_white);
}

.footer__item {
    position: relative;
    font-weight: 500;
    color: var(--color_white);
}

.footer__item.current::after {
    content: '';
    position: absolute;
    top: -24px;
    left: 0;
    width: 35px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--color_white);
}

/*Modal*/
.modal {      
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.modal__body {
    margin: 0 auto;        
    padding: 30px;
    position: relative;
    width: 625px;
    border-radius: 10px;
    background-color: var(--color_white);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
}

.modal__content {        
    text-align: center;
    height: 300px;
}
    
.modal__btn-exit {    
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__btn-icon {
    width: 20px;
    height: 20px;
}
    
.modal.open {
    opacity: 1;
    visibility: visible;   
}

.disable-scroll {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.modal.open .modal__body {
    transform: translateY(0);
}